@import "tailwindcss";
@import "tw-animate-css";

@custom-variant light (&:is(.light *));

@theme inline {
  --color-background: var(--background);
  --color-background-secondary: var(--background-secondary);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --text-6\.4xl: 4rem; /* 64px */
  --color-ring: var(--ring);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-error: var(--error);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --color-gray-0: var(--gray-0);
  --color-gray-2: var(--gray-2);
  --color-gray-3: var(--gray-3);
  --color-gray-4: var(--gray-4);
  --color-gray-5: var(--gray-5);
  --color-gray-6: var(--gray-6);
  --color-gray-7: var(--gray-7);
  --color-green-5: var(--green-5);
  --color-green-7: var(--green-7);
  --spacing-115: 28.75rem; /* 460px */
  --spacing-128: 32rem; /* 512px */
  --spacing-18: 4.5rem; /* 72px */
  --spacing-37\.5: 9.375rem; /* 150px */
  --spacing-50: 12.5rem; /* 200px */
  --spacing-21\.75: 5.4375rem; /* 87px */
  --border-width-0\.75: 0.046875rem; /* 0.75px */
}

:root {
  --radius: 0.625rem;
  --background-secondary: oklch(0.2393 0 0);
  --background: oklch(0.2393 0 0);
  --foreground: oklch(0.9067 0 0);
  --card: oklch(0.1957 0 0 / 80%);
  --card-foreground: oklch(0.9067 0 0);
  --popover: oklch(0.1957 0 0 / 80%);
  --popover-foreground: oklch(0.9067 0 0);
  --primary: oklch(0.5876 0.0659 161.24);
  --primary-hover: oklch(0.6762 0.0747 164.24);
  --primary-foreground: oklch(0.985 0.002 247.839);
  --secondary: oklch(0.3562 0 0);
  --secondary-foreground: oklch(0.21 0.034 264.665);
  --muted: oklch(0.3562 0 0);
  --muted-foreground: oklch(0.551 0.027 264.364);
  --accent: oklch(0.3562 0 0);
  --accent-foreground: oklch(0.21 0.034 264.665);
  --destructive: oklch(0.577 0.245 27.325);
  --success: oklch(0.7663 0.0958 169.38);
  --warning: oklch(0.7954 0.171 84.17);
  --error: oklch(0.7321 0.1649 20.66);
  --gray-0: oklch(0.2134 0 0);
  --gray-2: oklch(0.2393 0 0);
  --gray-3: oklch(0.2809 0 0);
  --gray-4: oklch(0.3562 0 0);
  --gray-5: oklch(0.6993 0 0);
  --gray-6: oklch(0.7984 0 0);
  --gray-7: oklch(0.9067 0 0);
  --green-5: oklch(0.6762 0.0747 164.24);
  --green-7: oklch(0.5876 0.0659 161.24);
}

.light {
  --background-secondary: oklch(0.9551 0.0047 236.5);
  --background: oklch(0.9829 0.0029 247.84);
  --foreground: oklch(0.2784 0.01 248.19);
  --card: oklch(0.998 0.001 247.84 / 92%);
  --card-foreground: oklch(0.2784 0.01 248.19);
  --popover: oklch(0.998 0.001 247.84 / 96%);
  --popover-foreground: oklch(0.2784 0.01 248.19);
  --primary: oklch(0.5876 0.0659 161.24);
  --primary-hover: oklch(0.6762 0.0747 164.24);
  --primary-foreground: oklch(0.985 0.002 247.839);
  --secondary: oklch(0.9412 0.0067 247.89);
  --secondary-foreground: oklch(0.2784 0.01 248.19);
  --muted: oklch(0.9551 0.0047 236.5);
  --muted-foreground: oklch(0.4923 0.0105 248.18);
  --accent: oklch(0.9475 0.0075 247.89);
  --accent-foreground: oklch(0.2784 0.01 248.19);
  --destructive: oklch(0.704 0.191 22.216);
  --success: oklch(0.7663 0.0958 169.38);
  --warning: oklch(0.7954 0.171 84.17);
  --error: oklch(0.7321 0.1649 20.66);
  --gray-0: oklch(0.9961 0.0011 247.86);
  --gray-2: oklch(0.9771 0.0024 247.84);
  --gray-3: oklch(0.9344 0.0048 247.88);
  --gray-4: oklch(0.875 0.0075 247.95);
  --gray-5: oklch(0.5584 0.0124 248.09);
  --gray-6: oklch(0.3925 0.0118 248.15);
  --gray-7: oklch(0.2485 0.0107 248.23);
  --green-5: oklch(0.6762 0.0747 164.24);
  --green-7: oklch(0.5876 0.0659 161.24);
}

@layer base {
  html {
    color-scheme: dark;
  }

  html.light {
    color-scheme: light;
  }

  body {
    min-height: 100vh;
    background: var(--background);
    color: var(--foreground);
  }
}

@layer utilities {
  .shadow-card {
    box-shadow: 0px 0px 9.4px 0px #0000000d;
  }

  .shadow-item-menu {
    box-shadow: 0px 10px 10px 0px #0000000d;
  }
}
